Client/src/supabase/config.ts
Server/InvestItAPI/InvestItAPI/obj/
/Server/InvestItAPI/InvestItAPI/bin
Server/InvestItAPI/.vs/InvestItAPI/FileContentIndex/03584ab4-93db-40e4-b49f-39ddf731c214.vsidx
Server/InvestItAPI/.vs/InvestItAPI/FileContentIndex/0a109c00-1ef4-4150-abb5-7d0538c53f1b.vsidx
Server/InvestItAPI/.vs/InvestItAPI/FileContentIndex/3ebe19a4-8b5f-4b92-89c9-e65c892f4247.vsidx
Server/InvestItAPI/.vs/InvestItAPI/FileContentIndex/4854cbd6-6e51-4683-9717-7d78cfd08003.vsidx
Server/InvestItAPI/.vs/InvestItAPI/v17/.suo
Server/InvestItAPI/.vs/InvestItAPI/v17/DocumentLayout.json
Server/InvestItAPI/InvestItAPI/bin/Debug/net6.0/InvestItAPI.dll
Server/InvestItAPI/InvestItAPI/bin/Debug/net6.0/InvestItAPI.exe
Server/InvestItAPI/InvestItAPI/bin/Debug/net6.0/InvestItAPI.pdb
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/apphost.exe
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.AssemblyInfo.cs
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.AssemblyInfoInputs.cache
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.assets.cache
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.csproj.FileListAbsolute.txt
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.dll
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.GeneratedMSBuildEditorConfig.editorconfig
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.genruntimeconfig.cache
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.pdb
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/ref/InvestItAPI.dll
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/refint/InvestItAPI.dll
Server/InvestItAPI/InvestItAPI/obj/InvestItAPI.csproj.nuget.dgspec.json
Server/InvestItAPI/InvestItAPI/obj/project.assets.json
Server/InvestItAPI/InvestItAPI/obj/project.nuget.cache
Server/InvestItAPI/.vs/InvestItAPI/FileContentIndex/0a109c00-1ef4-4150-abb5-7d0538c53f1b.vsidx
Server/InvestItAPI/.vs/InvestItAPI/FileContentIndex/3ebe19a4-8b5f-4b92-89c9-e65c892f4247.vsidx
Server/InvestItAPI/.vs/InvestItAPI/v17/.suo
Server/InvestItAPI/.vs/InvestItAPI/v17/DocumentLayout.json
Server/InvestItAPI/InvestItAPI/bin/Debug/net6.0/InvestItAPI.dll
Server/InvestItAPI/InvestItAPI/bin/Debug/net6.0/InvestItAPI.exe
Server/InvestItAPI/InvestItAPI/bin/Debug/net6.0/InvestItAPI.pdb
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/apphost.exe
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.AssemblyInfo.cs
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.AssemblyInfoInputs.cache
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.assets.cache
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.csproj.FileListAbsolute.txt
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.dll
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.GeneratedMSBuildEditorConfig.editorconfig
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.genruntimeconfig.cache
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/InvestItAPI.pdb
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/ref/InvestItAPI.dll
Server/InvestItAPI/InvestItAPI/obj/Debug/net6.0/refint/InvestItAPI.dll
Server/InvestItAPI/InvestItAPI/obj/InvestItAPI.csproj.nuget.dgspec.json
Server/InvestItAPI/InvestItAPI/obj/project.assets.json
Server/InvestItAPI/InvestItAPI/obj/project.nuget.cache
Server/InvestItAPI/InvestItAPI/appsettings.json
/Server/InvestItAPI/InvestItAPI/uploadedFiles/profilePics
/Server/InvestItAPI/.vs
Server/InvestItAPI/InvestItAPI/web.config
*.pubxml
Server/InvestItAPI/InvestItAPI/Properties/PublishProfiles/FolderProfile.pubxml.user
*.bin
/Server/InvestItAPI/InvestItAPI/uploadedFiles
